#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
    width: 250px;
  margin: 0 auto;
  background-color:white;
  padding: 40px;
border-radius: 8%;
}
img{
    border-radius: 5%;
}
body{
     background-color:rgb(221, 240, 240);
}